.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* ----------------------------Header Style -------------------------- */
.header {
  height: 100px;
  background: #79e9ff8f;
}
.cart-data {
  float: right;
  position: relative;
}
svg.carticon {
  height: 82px;
  margin-right: 50px;
  width: 60px;
}
span.cartCounter {
  position: absolute;
  top: 4%;
  
  text-align: center;
  left: 38%;
  font-size: 32px;
  height: 33px;
  width: 33px;
  line-height: 1;
  border-radius: 50%;
  background: red;
}

.row.cardWrapper {
    margin: 5%;
}
img.card-img-top {
  margin-left: 10%;
  width: 80%;
  height: 40%;
  object-fit: contain;
  object-fit: cover;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none !important;
}

h1.backto {
  text-transform: capitalize;
  font-size: 25px;
  color: #000000;
  background: #99f2ff;
  width: fit-content;
  padding: 10px 12px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: lighter;
}
h1.logo {
  float: left;
  margin: 0px;
  padding: 20px;
  text-decoration: none;
}
.tabledata {
  margin: 20px;
}
.ProductCunter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
span.title {
  width: 20%;
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  text-align: justify;
  text-transform: uppercase;
 
}
span.data {
  /* width: 80%; */
  font-size: 14px;
  font-weight: 500;
}
.cardDataList th, td {
  text-align: center;
}
.searchbar {
  position: absolute;
  top: 5%;
  left: 40%;
}

.searchbar input[type="search"] {
  width: 124%;
  height: 40px;
  border: 1px solid gray;
  padding: 8px 10px;
  border-radius: 5px;
  outline: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .col-md-4.cards {
    margin-bottom: 20px;
}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
